
  :root {
     --font-default: "DM Sans", Arial, Helvetica, sans-serif;
     --font-slab: var(--font-default);
     --modal-duration: 0.8s;
}

  *    {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

/* Landing Page */

  body {
     margin: 0;
     display: flex;
     flex-direction: column;
     background-image: url("background.png");
     font-family: var(--font-default);
     font-size: 18px;
}

  p {
     margin-bottom: 0;
     padding: 0.5vw;
}

  img {
     padding-left: 28px;
     width: 215px;
     padding-top: 7px;
     height: 29px;  
}

  .topnav {
     overflow: hidden;
     margin: 3.5%;
}

  .header-logo {
     float: left;   
}

  .main-navbar {
     float: right;
     margin-right: 30px;
}

  .topnav a {
     float: left;
     display: block;
     color: #000000;
     text-align: center;
     padding: 12px 12px;
     margin: 2px;
     text-decoration: none;
     font-size: 11px;
     font-family: Roboto, sans-serif;
}

  .topnav a:hover {
     background-color: #ff0000;
     color: #ffffff;
     border-radius: 6px;
     padding-top: 6px;
     padding-bottom: 6px;
     margin-top: 10px;
}

  .topnav a.active {
     background-color: #ff0000;
     color: #ffffff;
     border-radius: 6px;
     padding-top: 6px;
     padding-bottom: 6px;
     margin-top: 8px;
     text-decoration: underline;
}

  .topnav .icon {
     display: none;
}

  main {     
     font-weight: bolder;
     color: black;
     padding-left: 4vw;
     padding-right: 6vw;
     margin: 1px 20px 15px;
     border-radius: 2rem;
     text-align: justify;
}

  .footer {
     margin: 20px;
     padding: 10px;
     font-family: var(--font-slab);
}